* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.scroll-container {
  height: calc(250px * 0.7);
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* Hidden by default */
}

.scroll-container:hover {
  scrollbar-color: #b0bec5 transparent; /* Visible on hover */
}

/* For Chrome, Safari, Edge */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hidden by default */
  border-radius: 4px;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: #b0bec5; /* Visible on hover */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}
